@use './styles/normalize.css' as *;
@use './styles/variables' as *;
@use './styles/mixins' as *;

body {  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
