@use './styles/variables' as *;
@use './styles/mixins' as *;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: theme-var('bg-primary');
  color: theme-var('text-primary');
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 2rem;
}
