.playlists-page {  
  padding: 20px;
}

.playlists-page__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.playlists-page__content {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 20px;
}

.widget__wrapper {
  width: 50%;
}

@media (max-width: 768px) {
  .widget__wrapper {
    width: 100%;
  }
}

