@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.tracklist {
  font-family: sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;  
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tracklist__header {  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--bg-secondary);
  padding: 10px 12px;  
  font-size: 1.1em;
  font-weight: bold;
}

.tracklist__back-button {
  display: none; // По умолчанию скрыта
  position: absolute;
  left: 10px;
  color: var(--text-primary);
  cursor: pointer;
}

.tracklist__title {
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  padding: 0 20px; // Оставляем место для кнопок по бокам
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tracklist__edit {
  height: 18px;
  width: 18px;
  font-size: 1.1em;
  text-align: center;  
  cursor: pointer;  
  position: absolute;
  right: 10px;
  z-index: 2;
}

.tracklist__content {
  flex: 1;
  overflow-y: auto;
}

// Мобильные стили
@media (max-width: 768px) {
  .tracklist__back-button {
    display: block; // Показываем кнопку "Назад" на мобильных
  }
}