@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.tracklist {
  font-family: sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;  
  background: var(--bg-primary);
}

.tracklist__header {  
  display: flex;
  justify-content: center; 
  position: relative;
  background: var(--bg-secondary);
  padding: 10px 12px;  
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.tracklist__title {
  font-weight: bold;
}

.tracklist__edit {
  @include reset-button-styles;
  height: 18px;
  width: 18px;
  font-size: 1.1em;
  text-align: center;  
  background-image: url('../../assets/edit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;  
  position: absolute;
  right: 10px;
  z-index: 2; 
}