.playlist-list {
  width: 100%;
  background: var(--bg-primary); 
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;  
  font-size: 1.1em; 
  margin: auto;
}

.playlist-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-secondary);
  padding: 10px 12px;
  font-weight: bold;
}

.playlist-list__counter {
  color: var(--text-secondary);
}

.playlist-list__options {
  display: flex;
  gap: 10px;
}
  

