.playlist-list {
  width: 100%;
  background: var(--bg-primary); 
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;  
  font-size: 1.1em; 
  margin: auto;
}

.playlist-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-secondary);
  padding: 10px 12px;
  font-weight: bold;
}

.playlist-list__options {
  display: flex;
  gap: 10px;
}

.playlist-list__action {
  width: 18px;
  height: 18px;  
  font-size: 16px;  
  color: var(--text-secondary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    color: #000;
  }
}

.playlist-list__action_sort {
  background-image: url('../../assets/sort.svg');
 
}

.playlist-list__action_add {
  background-image: url('../../assets/add.svg');
}
  

