@mixin transition($props...) {
  transition: $props 0.3s ease-in-out;
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin reset-button-styles {
  appearance: none;  
  background: none;
  border: none;
  outline: none;  
  font: inherit;
  color: inherit; 
  margin: 0;
  padding: 0;
  cursor: pointer;  
}
