@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navbar {
  @include flex-center(row);
  gap: 20px;
  padding: 10px 20px;
  background: $gradient-primary;
  box-shadow: $shadow-light;
}

.navbar a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  @include transition(transform, color);

  &:hover {
    color: $accent;
    transform: scale(1.05);
  }
}

.navbar .active {
  border-bottom: 2px solid $accent;
}