$themes: (
  light: (
    bg-primary: #FFF,
    bg-secondary: #D7D7D7,
    text-primary: #212121,
    text-secondary: #4B4B4B,
    border-color: #AAA,
  ),
  dark: (
    bg-primary: #272727,
    bg-secondary: #202020,
    text-primary: #FFF,
    text-secondary: #7F7F7F,
    border-color: #4B4B4B,
  )
);

$accent-colors: (
  "blue": #5F8CFB,
  "red": #ff5722,
  "green": #4caf50,
  "purple": #9c27b0,
  "custom": #ff00ff,
);

// Генерация CSS-переменных из темы
@each $theme-name, $colors in $themes {
  [data-theme="#{$theme-name}"] {
    @each $key, $value in $colors {
      --#{$key}: #{$value};
    }
  }
}

// Генерация CSS-переменных для акцентов
@each $name, $color in $accent-colors {
  [data-accent="#{$name}"] {
    --accent-color: #{$color};
  }
}
