@use '../../styles/variables' as *;

.settings {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    background-color: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--text-primary);

    &_theme {
      order: 1;

      @media (min-width: 768px) {
        order: 2;
      }
    }

    &_info {
      order: 2;

      @media (min-width: 768px) {
        order: 1;
      }
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__app-name {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
  }

  &__app-version {
    font-size: 0.875rem;
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
  }

  &__note,
  &__copyright {
    font-size: 0.875rem;
    color: var(--text-primary);
  }

  &__select {
    width: 100%;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
